:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}



nav{
  background-color: #0095b6;
  padding: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  position:sticky;
  top: 0px;
  justify-content: center;
  header{
    padding: 0.8rem;
    a{
      text-decoration: none;
      color: white;
    }
  }
}

#createPortfolio {
  background-color: #2f4f4f;
  display: inline-block;
  gap: 2rem;
  margin: 3rem;
  padding: 1rem;
}

#outP {
  display: flex;
  justify-content: space-around;
  margin: 3rem;

  #cardPortfolio{
    background-color: #2f4f4f;
    border-radius: 0.7rem;
    display: inline-block;
    h3{
      padding: 1rem;
    }
    p{
      padding: 1rem;
    }
  }
}

footer{
  text-align: center;
  background-color: #0095b6;
  color: black;
  margin: 3rem;

  ul{
    li{
      display: inline-block;
      margin: 20px;
    }
  }
}
